<html>
<head></head>
<body>
	<form action="/sessions" method="post">
		<ul>
			<li>enter email: <input name="email" type="text"></li>
			<li>enter password: <input name="password" type="password"></li>
			<li><input type="submit" value="Sign in"></li>
		</ul>
	</form>
</body>
</html>