body {
	font-family: 'Raleway';
}

h1 {
	font-family: 'Pacifico';
	font-size: 30px;
}

header .header-form {
	vertical-align: bottom;
	display: inline;

}

header {
	height: 60px;
	display: flex;
	justify-content: space-between;
}

header .header-element {
	align-self: flex-end;
}

header .right-header-nav {
	display: inline;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
}
