<html>
<head></head>
<body>
	<form action="/makers" method="post">
		enter email: <input name="email" type="text">
		password: <input name="password" type="password">
		confirm password: <input name ="password_confirmation" type="password">
		desired username: <input type="text" name="username">
		real name: <input type="text" name="name">
		<input type="submit" value="Sign Up">
	</form>
</body>
</html>