<html>
<head></head>
<body>
	<form action="/makers" method="post">
	<ul>
		<li>enter email: <input name="email" type="text"></li>
		<li>password: <input name="password" type="password"></li>
		<li>confirm password: <input name ="password_confirmation" type="password"></li>
		<li>desired username: <input type="text" name="username"></li>
		<li>real name: <input type="text" name="name"></li>
		<li><input type="submit" value="Sign Up"></li>
	</form>
</body>
</html>