<html>
<head>
	<title>.chitter.</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id='wrapper'>
		<header>
			<h1 class='header-element'>...this is chitter!</h1>
			<span class='header-element'>
				Welcome, <% if current_maker %><%= current_maker.username %><% else %>unsigned user<% end %>.
			</span>
			<nav class ='header-element'>
				<ul>
					<% if current_maker %>
					<li class='right-header-nav'>
						<form method="post" class='header-form' action="/sessions">
							<input type="hidden" name="_method" value="delete">
							<input type="submit" value="Sign out">
						</form>
					</li>
					<li class='right-header-nav'>
						<form action = "/sign_in" class='header-form' method='post'>
							<input type ="submit" value="Sign In!">
						</form>
					</li>
					<% else %>
					<li class='right-header-nav'>
						<form action = "/sign_up" class='header-form' method='post'>
							<input type ="submit" value="Sign Up!">
						</form>
					</li>
					<li class='right-header-nav'>
						<form action = "/sign_in" class='header-form' method='post'>
							<input type ="submit" value="Sign In!">
						</form>
					</li>
					<% end %>
				</ul>
			</nav>
		</header>
		<div class="columnsContainer">
			<div class="leftColumn">
				<% if flash[:errors] && !flash[:errors].empty? %>
				Sorry, there were the following problems with the form. 
				<ul id="errors">
					<% flash[:errors].each do |error| %>
					<li class="post-wall"><%= error %></li>
					<% end %>
				</ul>
				<% end %>
				<% if flash[:notice] %>
				<div id="notice">
					<p class="post-wall"><%= flash[:notice] %></p>
				</div>
				<% end %>
				<%= yield %>
			</div>
			<div class="rightColumn">
				<% if current_maker %>
				<form action="/new_peep" class='new-peep' method="post">
					Enter a new peep! <input type="text" name="body">
					<input type="submit" value="Post Message!">
				</form>
				<% else %>
				Please sign in to peep to the post-wall!
				<% end %>
			</div>
		</div>
	</div>
</body>
</html>